<div class="homepage-background">
	<div class="row">
		<div class="col-xs-12" id="homepage-container">
			<div class="homepage header">
				<h1>Four Degrees Camping</h1>
			</div>
			<div class="homepage copy">
			<%= "where you're gauranteed to meet new people that are never more than four degrees away" %>
			</div>
			<div class="homepage about">
				<%= link_to "More Info", '/about', id: "about" %>
			</div>
			<div class="homepage login">
				<a href="/auth/facebook"><img src='http://puntroadwines.com.au/wp-content/plugins/mailchimp-overlay/assets/img/fb-login.png' id="facebook-login-button"></a>
			</div>
		</div>	
	</div>
</div>